.form {
  width: 100%;
  margin-top: 1.5em;
  background-color: var(--color-00);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  padding: 1.5em;
}

.submit {
  background-color: var(--color-02);
  color: var(--color-00);
  padding: 1em;
  border: none;
  outline: none;
  border-radius: var(--radius);
  font-weight: var(--fw-medium);

  &:hover {
    background-color: var(--color-02-1);
  }
}

.radio__wrapper {
  display: flex;
  flex-direction: column;

  > div {
    display: flex;
    justify-content: flex-start;
    max-width: 300px;
    margin-top: 0.5em;

    > div:first-of-type {
      margin-right: 1.5em;
    }
  }
}