.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1.5em;

  label {
    font-size: var(--fs-sm);
    font-weight: var(--fw-medium);
    text-decoration: underline;
  }

  input:not([type='radio'], [type='checkbox']),
  select {
    margin-top: 0.5em;
  }

  input[type='text'],
  input[type='datetime-local'],
  select {
    max-width: 300px;
    width: 100%;
    border-radius: var(--radius);
    outline: none;
    border: 1px solid var(--color-02);
    padding: 0.65em 0.5em;
    font-family: var(--font-family);
    font-size: var(--fs-sm);

    &:focus {
      box-shadow: var(--color-02-1) 0 0 3px;
    }

    &:hover {
      border-color: var(--color-02-1);
    }
  }
}

input[type='file'],
.checkbox,
.radio {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;

  input {
    margin-right: 0.5em;
  }

  label {
    text-decoration: none;
  }
}

.error {
  color: #ff0000;
  font-size: var(--fs-sm);
  font-weight: var(--fw-bold);
  margin-top: 0.3em;
}
