.wrapper {
  width: 100%;
  background-color: var(--color-01);
  padding: 1.5em;
  border-radius: var(--radius);
}

.search {
  width: 100%;
  border-radius: var(--radius);
  outline: none;
  border: 1px solid var(--color-02);
  padding: 0.65em 0.5em;
  font-family: var(--font-family);
  font-size: var(--fs-sm);

  &:focus {
    box-shadow: var(--color-02-1) 0 0 3px;
  }

  &:hover {
    border-color: var(--color-02-1);
  }
}